.room-list{
    height: 70vh;
    margin-top: 3.5vh;
    overflow-y: scroll;
}
.room-list > div{
    height: 10vh;
    margin-top: 2vh;
    padding: 0.2vh 0.5vw 1vh 0.5vw;
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
}
.room-list > div:hover {
    background-color: var(--gray-hover);
}
.room-list > .current-room-card {
    background-color: var(--gray-hover);
}
.room-list > div > p{
    overflow: hidden;
    white-space: nowrap;
    margin: 8px;
}
.room-list > div > .room-name {
    font-weight: bold;
    font-size: 20px;
}
.choosen {
    background-color: var(--gray);
}

.room-information-frame{
    z-index: 2;
}

.room-information-card{
    height: 90vh;
    width: 60vw;
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}
.room-information-card > h2{
    width: 100%;
    text-align: center;
    margin: 10px;
    font-size: calc(2vh + 2vw);
}
.room-information-card > p{
    width: 100%;
    max-height: 2.2em;
    height: fit-content;
    white-space: wrap;
    word-break: break-all;
    font-size: calc(1vh + 1vw);
    margin: 10px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
    overflow-x: auto;
    scrollbar-width: none;
}
.room-information-card > .add-member {
    padding: 10px 10% 10px 10%;
    justify-content: flex-start;
}
.room-information-card > .add-member > input{
    width: 45vw;
    height: 6vh;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 3vh;
}
.room-information-card > .add-member > button{
    height: 6vh;
    width: 5vw;
    border: 0px;
    border-radius: 5px;
    background-color: var(--sender-background-color);
    color: white;
}
.room-information-card > .add-member > button:hover{
    background-color: var(--sender-background-color-hover);
}

.room-information-card > .member-list {
    width: 58vw;
    padding: 1vh 1vw 1vh 1vw;
    border: 3px solid black;
    border-radius: 10px;
    overflow-y: auto;
    flex-grow: 1;
}
.room-information-card > .member-list > .member-card {
    width: 98%;
    height: fit-content;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.room-information-card > .member-list > .member-card:hover{
    background-color: var(--gray-hover);
}
.room-information-card > .member-list > .member-card > .member-information{
    max-height: 15vh;
    height: fit-content;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-right: 10px;
    flex-grow: 9;
}
.room-information-card > .member-list > .member-card > .member-information > p{
    white-space: wrap;
    word-break: break-all;
    font-size: calc(1vh + 0.8vw)
}
.room-information-card > .member-list > .member-card > .member-information > p > b{
    font-size: calc(1vh + 1vw);
}
.room-information-card > .member-list > .member-card > button{
    width: 5vw;
    height: 6vh;
    background-color: var(--sender-background-color);
    color: white;
    border: 0px;
    border-radius: 10px;
}
.room-information-card > .member-list > .member-card > button:hover{
    background-color: var(--sender-background-color-hover);
}

