html{
    font-family: Arial, Helvetica, sans-serif;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0px;
    background-image: linear-gradient(45deg, orange, purple);
    height: 100vh;
    width: 100vw;
}

form{
    background-color: white;
    width: 40%;
    height: 70%;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px;
}


.label{
    margin: 0px 0px 10px 15%;
    align-self: flex-start;
    font-size: 60px;
    font-weight: 600;
    background: linear-gradient(135deg, orange, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-card{
    height: 15%;
    width: 70%;
    margin: 0px 0px 20px 0px;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */

}

img{
    height: 50%;
    object-fit: fill;
}

input{
    margin-left: 15px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(236, 234, 234);
    border-radius: 20px;
    font-size: 16px;
}

input:focus {
    background-color: rgb(232, 230, 228);
}

.register-button{
    background-image: linear-gradient(45deg, orange, purple);
    min-width: fit-content;
    min-height: fit-content;
    height: 8%;
    width: 15%;
    border: 0px solid black;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    font-weight: 600;
}


button{
    cursor: pointer;
    transition: scale 0.1s linear;
}

button:hover {
    scale: 1.1;
}

.invalid-card{
    width: 280px;
    min-height: 70px;
    height: fit-content;
    right: 5%;
    top: 5%;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 1px;
    animation: pop-up 0.8s linear 0s forwards normal;
}

.invalid-message-frame{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: left;
}

.invalid-image{
    max-height: 30%;
    margin-right: 10px;
}

.invalid-message{
    max-width: 95%;
    margin: 0px;
    font-size: 16px;
    align-self: center;
    white-space: pre-wrap;
}

.invalid-button{
    margin-top: 5px;
    width: 40px;
    height: 30px;
    align-self: flex-end;
}

@keyframes pop-up {
    0% {
        rotate: -30deg;
    }
    20% {
        rotate: 30deg;
    }
    40% {
        rotate: -30deg;   
    }
    60% {
        rotate: 30deg;
    }
    80% {
        rotate: -30deg;
    }
    100% {
        rotate: 0deg;
    }
}
